.loginBox {
  width: 736px;
  margin: 4rem auto 0;

  display: flex;
  justify-content: center;
}

.loginInfo {
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginInfo input {
  background: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  color: var(--gray-300);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  outline: none;
  padding: 1rem;
}

.loginInfo button[type="submit"] {
  background: var(--blue-700);
  border-radius: 8px;
  border: 0;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 1rem;
  width: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  transition: background-color 0.1s;
}

.loginInfo button[type="submit"]:hover {
  background: var(--blue-500);
}

.loginAux {
  display: flex;
  justify-content: space-between;
}

.loginAux button {
  display: inline;
  background: transparent;
  border: 0;
  color: var(--gray-300);

  transition: color 0.2s;
}

.loginAux button:hover {
  color: var(--purple-500);
}

@media screen and (max-width: 768px) {
  .loginBox {
    padding: 0 20px;
    width: auto;
  }

  .loginInfo button[type="submit"] {
    width: 100%;
  }
}
